<nav class="navbar navbar-expand-lg" style="background-color: #9DC183; height: 96px; width: 100%">
  <div style="max-width: 1140px; margin: 0 auto; " class="container-fluid">
      <a class="navbar-brand" href="{% url 'shop:homepage' %}">SHOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%; display: flex; justify-content: center">

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex justify-content-center align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg style="margin-right: 8px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg>
                Categories
              </a>
              <ul class="dropdown-menu">
              {% for category in categories %}
                <li><a class="dropdown-item" href="?category={{ category.id }}">{{ category.name }}</a></li>
              {% endfor %}
              </ul>
          </li>

          <li style="margin-left: 10%; margin-right: 10%;">
            <form class="d-flex" role="search">
              <input class="form-control me-2" style="width: 25rem;" type="search" placeholder="Search" aria-label="Search" name="product_query">
              <button class="btn d-flex align-items-center" style="background-color: black; color: white;" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </button>
            </form>
          </li>

          <li class="nav-item" style="margin-right: 16px">
            <a class="nav-link mr-4 d-flex justify-content-center align-items-center" href="#">
              <svg style="margin-right: 8px"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
              </svg>
              <span>Cart</span>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex justify-content-center align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg style="margin-right: 8px"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>
              {{ user|capfirst }}
            </a>

            <ul class="dropdown-menu">
              {% if not user.is_authenticated %}
              <li><a class="dropdown-item" href="/login/">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'shop:sign_up' %}">Sign Up</a></li>
              {% endif %}

              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="#">{{ user|capfirst }}'s Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout/">Log Out</a></li>
              {% endif %}

            </ul>
          </li>
        </ul>

      </div>
  </div>
</nav>